# Server
SERVER_HOST="127.0.0.1"
SERVER_PORT=3000

# MongoDB
MONGODB_NAME="fastify-starter"
MONGODB_HOSTS=["127.0.0.1"]
MONGODB_PORTS=[27017]
MONGODB_USER="root"
MONGODB_PASSWORD="root"
MONGODB_AUTH_SOURCE="admin"
